@import '../variables';

@media (max-aspect-ratio: 1/1) {
  .history-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: inherit;
    height: fit-content;

    &:hover {
      background-color: $historyItemBgColor;
    }

    &--text {
      color: $blackColor;
      line-height: inherit;

      padding: 0;
      margin: 0;
    }

    &--button {
      cursor: pointer;

      display: flex;
      margin: 0;
      place-items: center;
      border: none;
      font-size: 2rem;
      background-color: rgba($color: $blackColor, $alpha: 0);
      &:hover {
        background-color: $veryLightRedColor;
      }
    }

    &--icon {
      font-weight: 700;
      color: $bloodRedColor;
    }
  }

  .info-item {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &--score {
      font-size: 1.875rem;
      opacity: 0.7;
      margin: 0;
    }
  }

  .day-forecast {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &--day {
      font-weight: 300;
      font-size: 1.125rem;
    }

    &--icon {
      font-weight: 700;
      font-size: 4rem;

      & img {
        width: 4rem;
        height: 4rem;
      }
    }

    &--description {
      font-size: 0.875rem;
    }

    &--temps {
      padding-bottom: 1rem;
    }
  }
}

@media (min-aspect-ratio: 1/1) {
  .history-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: inherit;
    height: fit-content;

    &:hover {
      background-color: $historyItemBgColor;
    }

    &--text {
      color: $blackColor;
      line-height: inherit;

      padding: 0;
      margin: 0;
    }

    &--button {
      cursor: pointer;

      display: flex;
      margin: 0;
      place-items: center;
      border: none;
      font-size: 2rem;
      background-color: rgba($color: $blackColor, $alpha: 0);
      &:hover {
        background-color: $veryLightRedColor;
      }
    }

    &--icon {
      font-weight: 700;
      color: $bloodRedColor;
    }
  }

  .info-item {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &--score {
      font-size: 1.875rem;
      opacity: 0.7;
      margin: 0;
    }
  }

  .day-forecast {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &--day {
      font-weight: 300;
      font-size: 1.125rem;
    }

    &--icon {
      font-weight: 700;
      font-size: 4rem;

      & img {
        width: 4rem;
        height: 4rem;
      }
    }

    &--description {
      font-size: 0.875rem;
    }

    &--temps {
      padding-bottom: 1rem;
    }
  }
}
