@import '../variables';

//narrow screen
@media (max-aspect-ratio: 1/1) {
  .history-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: inherit;
    height: fit-content;

    &:hover {
      background-color: $historyItemBgColor;
    }

    &--text {
      color: $blackColor;
      line-height: inherit;

      padding: 0;
      margin: 0;
    }

    &--button {
      cursor: pointer;

      display: flex;
      margin: 0;
      place-items: center;
      border: none;
      font-size: 2rem;
      background-color: rgba($color: $blackColor, $alpha: 0);
      &:hover {
        background-color: $veryLightRedColor;
      }
    }

    &--icon {
      font-weight: 700;
      color: $bloodRedColor;
    }
  }

  .info-item {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &--score {
      font-size: 1.875rem;
      opacity: 0.7;
      margin: 0;
    }
  }

  .day-forecast {
    width: 100%;
    height: fit-content;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 2fr;
    gap: 0px 0px;
    grid-template-areas:
      'day-cell  minmax-cell'
      'icon-cell weather-cell ';

    &--weekday {
      grid-area: day-cell;
    }

    &--icon {
      grid-area: icon-cell;
      height: 4rem;
    }
    &--description {
      grid-area: weather-cell;
    }
    &--temps {
      grid-area: minmax-cell;
    }

    &--day {
      font-weight: 300;
      font-size: 1.125rem;
      display: none;
    }

    &--icon {
      font-weight: 700;
      font-size: 4rem;

      & img {
        width: 4rem;
        height: 4rem;
      }
    }

    &--description {
      font-size: 0.75rem;
    }
  }
}
// wide screen
@media (min-aspect-ratio: 1/1) {
  .history-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: inherit;
    height: fit-content;

    &:hover {
      background-color: $historyItemBgColor;
    }

    &--text {
      color: $blackColor;
      line-height: inherit;

      padding: 0;
      margin: 0;
    }

    &--button {
      cursor: pointer;

      display: flex;
      margin: 0;
      place-items: center;
      border: none;
      font-size: 2rem;
      background-color: rgba($color: $blackColor, $alpha: 0);
      &:hover {
        background-color: $veryLightRedColor;
      }
    }

    &--icon {
      font-weight: 700;
      color: $bloodRedColor;
    }
  }

  .info-item {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &--score {
      font-size: 1.875rem;
      opacity: 0.7;
      margin: 0;
    }
  }

  .day-forecast {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &--day {
      font-weight: 300;
      font-size: 1.125rem;
    }

    &--weekday {
      display: none;
    }

    &--icon {
      font-weight: 700;
      font-size: 4rem;

      & img {
        width: 4rem;
        height: 4rem;
      }
    }

    &--description {
      font-size: 0.875rem;
    }

    &--temps {
      padding-bottom: 1rem;
    }
  }
}
