$backgroundColor: #6d8ca0;
$borderColor: #94a3b8;
$searchBoxBackgroundColor: #f8fafc;
$searchBoxBorderColor: #e2e8f0;
$whiteColor: white;
$blackColor: black;
$clearColor: rgba(0, 0, 0, 0);
$borderWhiteClearColor: rgba(255, 255, 255, 0.25);

$historyItemBgColor: #e5e7eb;
$veryLightRedColor: #fee2e2;
$bloodRedColor: #991b1b;

$errorRed: #ef4444;
$errorSlate: #f8fafc;
