@import 'normalize';
@import 'variables';

body {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  color: $whiteColor;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $backgroundColor;
}

.day-forecast:not(:first-of-type) {
  //narrow screen
  @media (max-aspect-ratio: 1/1) {
    border-top: 1px solid $borderWhiteClearColor;
  }
  //wide screen
  @media (min-aspect-ratio: 1/1) {
    border-left: 1px solid $borderWhiteClearColor;
  }
}

.main {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  //narrow screen
  @media (max-aspect-ratio: 1/1) {
    height: unset;
  }
  //wide screen
  @media (min-aspect-ratio: 1/1) {
    height: 100vh;
  }
}
