@use '../../index.scss' as vars;

/* Search History */
.search-box--history {
    position: absolute; /* absolute */
    width: 100%; /* w-full */
    transition: all 0.2s; /* transition-all duration-200 */
    background-color: #f8fafc; /* bg-slate-50 */
    border: 1px solid #e2e8f0; /* border */
    border-radius: 0.25rem; /* rounded */
    padding: 0.5rem; /* p-2 */
    z-index: 50; /* z-50 */
  
    &.collapsed {
      height: 0;
      opacity: 0;
    }
  
    &.expanded {
      height: auto;
      opacity: 1;
    }
  }
  
  /* Search Box */
  .search-box {
    width: 50%; /* w-1/2 */
    height: 3rem; /* h-12 */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
    &.hidden {
      display: none;
    }
  
    &--wrapper {
      width: 66.666667%; /* w-2/3 */
      position: relative; /* relative */
    }
  
    &--input {
      border-radius: 0.25rem; /* rounded */
      height: 2.5rem; /* h-10 */
      width: 100%; /* w-full */
      padding-left: 0.5rem; /* p-1 */
      padding-right: 0.5rem;
      border: 1px solid vars.$borderColor; /* active:border-slate-600 */
      color: #000000; /* text-black */
      &::placeholder {
        opacity: 0.5; /* placeholder:opacity-50 */
      }
      &:focus {
        outline: 1px solid black;
      }
    }
  
    &--button {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0);
      color: white;
      font-size: 1.5rem;
      border: 1px solid vars.$borderColor; /* border */
      border-radius: 50%; /* rounded-full */
      height: 3rem; /* h-12 */
      width: 3rem; /* w-12 */
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 200; /* font-thin */
      &:hover {
        border: 2px solid white; /* hover:border-2 */

      }
    }
  }
  
  /* Navigation */
  .city--navigation_box {
    position: absolute; /* absolute */
    height: 100%; /* h-full */
    width: 4rem; /* w-16 */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
    &--geolocate,
    &--search,
    &--toggle_unit {
      background-color: rgba(0, 0, 0, 0);
      color: white;
      cursor: pointer;
      border: 1px solid vars.$borderColor; /* border */
      border-radius: 50%; /* rounded-full */
      height: 3rem; /* h-12 */
      width: 3rem; /* w-12 */
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 200; /* font-thin */
      font-size: 1.5rem; /* text-xl */
      &:hover {
        border: 2px solid white; /* hover:border-2 */
      }
    }
  }
  